# compiled files
*.class
target/

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS files
.DS_Store
Thumbs.db
backend/run-backend/target/classes/com/run/TestRepository.class
backend/run-backend/target/classes/com/run/App.class
backend/run-backend/target/classes/com/run/App.class
backend/run-backend/target/classes/com/run/TestEntity.class
